@page "/manageDevices"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS
@inject FilterService FilterService
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager

<PageTitle>Gerir Dispositivos</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">A carregar...</span>
            </div>
            <p class="mt-3">A carregar...</p>
        </div>
    </div>
}
else
{
    <div class="custom-container">
        <div class="page-title">
            <i class="bi bi-card-list fs-3" style="padding-left: 10px;"></i>
            <h3 class="pt-2">Gerir Dispositivos</h3>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="w-50 position-relative">
                <input type="text"
                       class="form-control py-2 ps-5"
                       placeholder="Pesquisar dispositivo pelo nome..."
                       @bind="searchTerm"
                       @bind:event="oninput" />
                <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            </div>

            <div>
                <button class="btn btn-color btn-lg"
                        style="font-size: 1.25rem;"
                        @onclick="NavigateToAddDevice">
                    <i class="bi bi-plus icon-align"></i> Novo
                </button>
                <button class="btn btn-color btn-lg"
                        style="font-size: 1.25rem;"
                        @onclick="ApplyFilter">
                    <i class="bi bi-floppy icon-align"></i> Aplicar
                </button>
            </div>
        </div>

        <div class="pb-5">
            <table class="table mt-3 w-100" style="table-layout: fixed;">
                <thead style="background-color: #0c6527; color: white;">
                    <tr>
                        <th onclick="@(() => SortByColumn("Name"))"
                            style="width: 40%; text-align: left; padding-left: 20px; border-top-left-radius: 5px; 
                                   border-right: 1px solid white; cursor: pointer;">
                            Nome do Dispositivo
                            <span style="font-size: 0.9rem; margin-left: 5px;
                                                         color: @(currentSortColumn == "Name" ? "white" : "rgba(255,255,255,0.5)")">
                                @(currentSortColumn == "Name" ? (isNameAscending ? "▲" : "▼") : "▲")
                            </span>
                        </th>

                        <th style="width: 20%; text-align: center; border-right: 1px solid white;">Ativo</th>
                        <th style="width: 20%;"></th>
                        <th style="width: 20%; border-top-right-radius: 5px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (PaginatedDevices is null || !PaginatedDevices.Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted py-4" style="font-size: 1.1rem;">
                                Sem dados disponíveis
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var device in PaginatedDevices)
                        {
                            <tr class="table-light" style="height: 60px;">
                                <td style="text-align: left; vertical-align: middle; padding-left: 20px;">
                                    @device.Name
                                </td>
                                <td class="text-center align-middle p-0">
                                    <input type="checkbox" class="largerCheckbox d-block mx-auto my-auto"
                                           id="toggle-@device.Id"
                                           @onchange="(e => ToggleDevice(e, device))"
                                           checked="@selectedDevices.Any(d => d.Id == device.Id)" />
                                </td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-outline-success btn-sm py-1 px-2"
                                            title="Editar"
                                            @onclick="() => NavigateToEditDevice(device.Id)">
                                        <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-outline-danger btn-sm py-1 px-2"
                                            title="Desativar"
                                            @onclick="() => DisableDevice(device.Id)">
                                        <i class="bi bi-trash-fill" style="font-size: 1.1rem;"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="sticky-footer-right">
            <div class="d-flex justify-content-end align-items-center gap-3">
                <span>@actualPage - @TotalPages de @TotalPages</span>
                <div class="d-flex gap-2">
                    <button class="btn custom-outline-button btn-lg"
                            @onclick="PrevPage" disabled="@(!CanGoPrev)">
                        &lt;
                    </button>

                    <button class="btn custom-outline-button btn-lg"
                            @onclick="NextPage" disabled="@(!CanGoNext)">
                        &gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<Device> devices = new List<Device>();
    private List<Device> selectedDevices = new List<Device>();
    private List<Device> paginatedDevices = new List<Device>();

    private string currentSortColumn = "Name";

    private int actualPage = 1;
    private int devicesPerPage = 8;
    private int TotalPages => (int)Math.Ceiling((double)FilteredDevices.Count() / devicesPerPage);

    private bool isLoading = true;
    private bool isNameAscending = true;
    private bool CanGoNext => actualPage < TotalPages;
    private bool CanGoPrev => actualPage > 1;

    private string _searchTerm = string.Empty;
    private string searchTerm
    {
        get => _searchTerm;
        set
        {
            if (_searchTerm != value)
            {
                _searchTerm = value;
                actualPage = 1;
            }
        }
    }

    private IEnumerable<Device> FilteredDevices
    {
        get
        {
            var filtered = string.IsNullOrWhiteSpace(searchTerm)
                ? devices
                : devices.Where(d => d.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

            if (currentSortColumn == "Name")
            {
                filtered = isNameAscending
                    ? filtered.OrderBy(d => d.Name)
                    : filtered.OrderByDescending(d => d.Name);
            }

            return filtered;
        }
    }

    private IEnumerable<Device> PaginatedDevices =>
    FilteredDevices
        .Skip((actualPage - 1) * devicesPerPage)
        .Take(devicesPerPage);

    protected override async Task OnInitializedAsync()
    {
        await FilterService.LoadFilterAsync();

        using var context = DbContextFactory.CreateDbContext();
        devices = await context.Devices.Where(d => d.Enabled).OrderBy(d => d.Name).ToListAsync();

        selectedDevices = FilterService.SelectedDevices;

        UpdatePage();
        isLoading = false;
    }

    private void ToggleDevice(ChangeEventArgs e, Device device)
    {
        var isChecked = e.Value is bool b && b;

        if (isChecked)
        {
            if (!selectedDevices.Any(d => d.Id == device.Id))
                selectedDevices.Add(device);
        }
        else
        {
            selectedDevices.RemoveAll(d => d.Id == device.Id);
        }
    }

    private void NavigateToAddDevice()
    {
        NavigationManager.NavigateTo("/manageDevices/add");
    }

    private void NavigateToEditDevice(int id)
    {
        NavigationManager.NavigateTo($"/manageDevices/edit/{id}");
    }

    private async Task ApplyFilter()
    {
        if (selectedDevices.Count == 0)
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Por favor selecione pelo menos um dispositivo!",
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonColor = "#0B5120"
            });
            return;
        }

        await FilterService.ApplyDevicesFilter(new List<Device>(selectedDevices));

        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Filtros aplicados com sucesso!",
            Icon = SweetAlertIcon.Success,
            ConfirmButtonColor = "#0B5120"
        });
    }

    private async Task DisableDevice(int id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Deseja desativar este dispositivo?",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Continuar",
            ConfirmButtonColor = "#0B5120",
            CancelButtonText = "Cancelar"
        });

        if (result.IsConfirmed)
        {
            isLoading = true;

            using var context = DbContextFactory.CreateDbContext();
            var deviceDb = await context.Devices.FirstOrDefaultAsync(d => d.Id == id);

            if (deviceDb != null)
            {
                deviceDb.Enabled = false;

                var relations = await context.DeviceProducts
                    .Where(dp => dp.DeviceId == id)
                    .ToListAsync();

                context.DeviceProducts.RemoveRange(relations);

                await context.SaveChangesAsync();
            }

            devices.RemoveAll(d => d.Id == id);

            FilterService.SelectedDevices.RemoveAll(d => d.Id == id);
            await FilterService.SaveFilterAsync();

            isLoading = false;
            StateHasChanged();
        }
    }

    private void SortByColumn(string columnName)
    {
        if (currentSortColumn == columnName)
        {
            isNameAscending = !isNameAscending;
        }
        else
        {
            currentSortColumn = columnName;
            isNameAscending = true;
        }

        actualPage = 1;
    }

    private void UpdatePage()
    {
        paginatedDevices = FilteredDevices
                                 .Skip((actualPage - 1) * devicesPerPage)
                                 .Take(devicesPerPage)
                                 .ToList();
    }

    private void NextPage()
    {
        if (CanGoNext)
        {
            actualPage++;
            UpdatePage();
        }
    }

    private void PrevPage()
    {
        if (CanGoNext)
        {
            actualPage--;
            UpdatePage();
        }
    }
}