@page "/manageUsers/add"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>@localizer["AddUser"]</PageTitle>

<div class="custom-container">
    <div class="page-title d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi bi-card-list icon-align fs-3" style="padding-left: 10px;"></i>
            <h3 class="ms-2 mb-0">@localizer["AddUser"]</h3>
        </div>

        <div class="d-flex gap-3">
            <button class="btn btn-outline-light border border-white border-2"
                    style="width: 100px;"
                    @onclick="Cancel">
                <i class="bi bi-arrow-left fs-5"></i>
            </button>
            <button class="btn btn-outline-light border border-white border-2 fs-5"
                    style="width: 150px;"
                    @onclick="SaveUser">
                <i class="bi bi-floppy"></i> @localizer["Save"]
            </button>
        </div>
    </div>

    <div class="edit-form mt-4">
        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="text" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">@localizer["Name"]</label>
            <input type="text" 
                @bind="userName"
                class="form-control w-50 mx-auto" 
                style="font-size: 1.2rem; text-align: center; border: 1px solid grey;" 
                maxlength="30"/>
        </div>

        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="email" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">Email</label>
            <input type="email"
                   @bind="userEmail"
                   class="form-control w-50 mx-auto"
                   style="font-size: 1.2rem; text-align: center; border: 1px solid grey;" 
                   maxlength="50"/>
        </div>

        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="password" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">@localizer["Password"]</label>
            <input type="password" 
                @bind="userPassword" 
                class="form-control w-50 mx-auto" 
                style="font-size: 1.2rem; text-align: center; border: 1px solid grey;" 
                maxlength="15"/>
        </div>

        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="text" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">@localizer["Function"]</label>
            <select class="form-select form-select-sm mx-auto w-50"
                    @bind="selectedRoleId"
                    style="height: 40px; font-size: 1.2rem; text-align: center; border: 1px solid grey;">
                <option value="">@localizer["SelectFunction"]</option>
                @foreach (var role in roles)
                {
                    <option value="@role.Id">@GetRoleName(role.Name)</option>
                }
            </select>
        </div>

        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="text" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">Entidade</label>
            <div class="d-flex align-items-center w-50 mx-auto" style="gap: 5px;">
                <select class="form-select form-select-sm h-100 flex-grow-1"
                        @bind="selectedEntityId"
                        style="height: 32px; font-size: 1.2rem; text-align: center; border: 1px solid grey;">
                    <option value="">Selecione uma entidade</option>
                    @foreach (var entity in entities)
                    {
                        <option value="@entity.Id">@entity.Name</option>
                    }
                </select>
                <button type="button"
                        class="btn btn-danger"
                        @* @onclick="RemoveEntity" *@
                        style="height: 32px; display: flex; align-items: center;">
                    Limpar
                </button>
            </div>
        </div>

        <div class="d-flex align-items-center gap-3 mb-3">
            <label for="text" class="col-form-label" style="width: 150px; font-size: 1.25rem; font-weight: bold;">@localizer["Language"]</label>
            <select id="cultureSelect"
                    class="form-select form-select-sm mx-auto w-50"
                    style="height: 40px; font-size: 1.2rem; text-align: center; border: 1px solid grey;"
                    @onchange="OnCultureChanged">
                <option value="">@localizer["SelectLanguage"]</option>
                <option value="pt-PT">@localizer["Portuguese"]</option>
                <option value="en-US">@localizer["English"]</option>
                <option value="es-ES">@localizer["Spanish"]</option>
            </select>
        </div>
    </div>
</div>

@code {
    // Variáveis: Object
    List<UserPetrotec> users = new();
    List<UserRole> roles = new();
    List<Entity> entities = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(AddUser));

    // Variáveis: String
    public string userName = string.Empty;
    public string userEmail = string.Empty;
    public string userPassword = string.Empty;
    string userCulture = string.Empty;
    string currentCulture = string.Empty;

    // Variáveis: Integer
    int? selectedRoleId = null;
    int? selectedEntityId = null;
    const int NameLength = 30;
    const int EmailLength = 50;
    const int PasswordLength = 15;
    const int AdminRoleId = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var context = DbContextFactory.CreateDbContext();

            users = await context.Users
                .Include(u => u.UserRole)
                .ToListAsync();

            roles = await context.Roles.ToListAsync();
            entities = await context.Entities.Where(e => e.Enabled).ToListAsync();
        }
        catch (Exception ex)
        {
            _log.Error("Error loading user roles. ", ex);
            
            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["ErrorLoading"]}");
        }
    }

    string GetRoleName(string roleName)
    {
        return localizer[roleName];
    }

    void OnCultureChanged(ChangeEventArgs e)
    {
        userCulture = e.Value?.ToString()!;
        currentCulture = userCulture!;
        StateHasChanged();
    }

    async Task SaveUser()
    {
        try
        {
            if (!ValidateUser())
                return;

            using var context = DbContextFactory.CreateDbContext();

            if (await UserExistsAsync(context))
            {
                ToastService.ShowWarning(@localizer["AlreadyExists"]);
                return;
            }

            await AddUserAsync(context);
            
            ToastService.ShowSuccess(@localizer["AddedSuccess"]);

            NavigationManager.NavigateTo("/manageUsers");
        }
        catch (Exception ex)
        {
            _log.Error("Error saving user. ", ex);
            
            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }
    }

    public bool ValidateUser()
    {
        if (string.IsNullOrWhiteSpace(userName) & string.IsNullOrWhiteSpace(userEmail) & string.IsNullOrWhiteSpace(userPassword))
        {
            ToastService.ShowWarning(@localizer["ValidName"]);
            return false;
        }

        if (userName.Length > NameLength)
        {
            ToastService.ShowWarning($"{@localizer["LongName"]}. {@localizer["Max30"]}");
            return false;
        }

        if (userEmail.Length > EmailLength)
        {
            ToastService.ShowWarning($"{@localizer["LongEmail"]}. {@localizer["Max50"]}");
            return false;
        }

        if (userPassword.Length > PasswordLength)
        {
            ToastService.ShowWarning($"{@localizer["LongPass"]}. {@localizer["Max15"]}");
            return false;
        }

        if (selectedRoleId != AdminRoleId && selectedEntityId == null)
        {
            ToastService.ShowWarning($"{@localizer["NoEntityAssociated"]}. {@localizer["NoEntityAssociatedMessage"]}");
            return false;
        }

        return true;
    }

    async Task<bool> UserExistsAsync(AppDbContext context)
    {
        return await context.Users.AnyAsync(u => u.Email.ToLower() == userEmail.ToLower());
    }

    async Task AddUserAsync(AppDbContext context)
    {
        var newUser = new UserPetrotec
        {
            UserRoleId = selectedRoleId!.Value,
            EntityId = selectedEntityId!.Value,
            Enabled = true,
            UserName = userName,
            Email = userEmail,
            Password = userPassword,
            Culture = userCulture
        };

        context.Users.Add(newUser);
        await context.SaveChangesAsync();
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/manageUsers");
    }
}