@page "/selectFleet/{deviceId:int}/{packageId}"

@rendermode InteractiveServer
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS
@inject TorizonService TorizonService
@inject FleetService FleetService
@inject WindowService WindowService
@inject NavigationManager UriHelper
@inject SweetAlertService Swal
@inject LoginService LoginService
@inject FilterService FilterService

<PageTitle>Selecionar Frota</PageTitle>

<WindowDimensions OnChange="OnDimensionsChanged" />

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">A carregar...</span>
            </div>
            <p class="mt-3">A carregar...</p>
        </div>
    </div>
}
else
{
    <a href="#"
       onclick="if (@(isLoading.ToString().ToLower())) { event.preventDefault(); } else { history.back(); }"
       class="text-black"
       style="cursor: @(isLoading ? "default" : "pointer");">
        <i class="bi bi-arrow-left fs-1"></i>
    </a>

    <h3 class="text-center pb-5">Selecionar Frota</h3>
    <br />
    <br />

    @if(paginatedFleets == null)
    {
        <p>Não existem frotas disponiveis no momento.</p>
    } else
    {
        <div class="d-flex justify-content-end align-items-center gap-3 pag-bts">
            <span>@actualPage - @totalPages de @totalPages</span>
            <div class="d-flex gap-2">
                <button class="btn custom-outline-button btn-lg"
                        @onclick="PrevPage" disabled="@(!CanGoPrev)">
                    &lt;
                </button>

                <button class="btn custom-outline-button btn-lg"
                        @onclick="NextPage" disabled="@(!CanGoNext)">
                    &gt;
                </button>
            </div>
        </div>

        <div class="grid-container">
            @foreach (var fleet in FilterService.SelectedFleets)
            {
                <div class="grid-item" @onclick="() => SelectFleetName(fleet)">
                    @fleet.FleetName
                </div>
            }
        </div>
    }
}

@code {
    [Parameter]
    public int deviceId { get; set; }
    private Device? selectedDevice = new Device();

    [Parameter]
    public string packageId { get; set; } = string.Empty;
    private Package? selectedPackage = new Package();

    private Fleet? selectedFleet;
    private List<Fleet> fleets = new List<Fleet>();
    private List<Fleet> paginatedFleets = new List<Fleet>();
    private WindowDimension? dimension;

    private bool isLoading = false;
    private int actualPage = 1;
    private int fleetsPerPage = 14;
    private int totalPages => (int)Math.Ceiling((double)fleets.Count / fleetsPerPage);
    private bool CanGoNext => actualPage < totalPages;
    private bool CanGoPrev => actualPage > 1;

    protected override void OnInitialized()
    {
        Console.WriteLine($"ID DO PACOTE RECEBIDO: {packageId}");
    }

    private void OnDimensionsChanged(WindowDimension newDimension)
    {
        dimension = newDimension;
        fleetsPerPage = dimension.Width <= 1024 ? 8 : fleets.Count;

        UpdatePage();
        StateHasChanged();
    }

    private async void SelectFleetName(Fleet fleet)
    {
        selectedFleet = fleet;
        await OnClick();
    }

    private async Task OnClick()
    {
        if (selectedFleet != null)
        {
            using var context = DbContextFactory.CreateDbContext();
            var userAct = new UserActivity
            {
                UserId = LoginService.UserId,
                ActMessage = $"Selecionou a frota: Nome: {selectedFleet.FleetName}",
                ActTimeStamp = DateTime.Now
            };

            context.UserActivities.Add(userAct);
            await context.SaveChangesAsync();

            UriHelper.NavigateTo($"/customization/{deviceId}/{Uri.EscapeDataString(packageId)}/{Uri.EscapeDataString(selectedFleet.Id)}");
        }
    }

    private void UpdatePage()
    {
        paginatedFleets = fleets
                              .Skip((actualPage - 1) * fleetsPerPage)
                              .Take(fleetsPerPage)
                              .ToList();
    }

    private void NextPage()
    {
        if (actualPage < totalPages)
        {
            actualPage++;
            UpdatePage();
        }
    }

    private void PrevPage()
    {
        if (actualPage > 1)
        {
            actualPage--;
            UpdatePage();
        }
    }
}