@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject TorizonService TorizonService
@inject LoginService LoginService
@inject FilterService FilterService
@inject SweetAlertService Swal

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<PageTitle>@localizer["UpdatePackage"]</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">@localizer["Loading"]...</span>
            </div>
            <p class="mt-3">@localizer["Loading"]...</p>
        </div>
    </div>
}
else
{
    <div class="card-body pb-2 px-0 mt-2">
        <div class="table-responsive border rounded-2">
            <QuickGrid Class="table table-striped m-0"
                       Items="@sshKeys.AsQueryable()"
                       ItemKey="@(pk => pk.Id)">

                <!--- Coluna dos nomes --->
                <TemplateColumn>
                    <HeaderTemplate>
                        <div class="header-table-left">
                            @localizer["Name"]
                        </div>
                    </HeaderTemplate>
                    <ChildContent>
                        <div class="body-table-left" style="cursor:pointer;" @onclick="@(() => OnClick(context))">
                            @context.Name
                        </div>
                    </ChildContent>
                </TemplateColumn>
            </QuickGrid>
        </div>

        @if (!sshKeys.Any())
        {
            <table class="table table-striped m-0">
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center text-muted" style="padding: 1rem;">
                            @localizer["NoData"]
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
}

@code {
    // Variáveis: Parameters
    [Parameter]
    public string? DeviceUuid { get; set; }

    [Parameter] 
    public EventCallback<SshKey> OnNextModal { get; set; }

    // Variáveis: Object
    DetailedDevice? selectedDevice = new();
    List<SshKey> sshKeys = new();
    SshKey? selectedKey = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(SelectUserModel));

    // Variáveis: Boolean
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var context = DbContextFactory.CreateDbContext();

            if (!await TorizonService.AuthenticateAsync())
            {
                _log.Error("Error authenticating to Torizon Service.");
                return;
            }

            var keyUrl = $"https://app.torizon.io/api/v2beta/remote-access/user/public-keys";
            sshKeys = await TorizonService.GetFlatSshKeysAsync(keyUrl);

            UpdatePage();

            isLoading = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _log.Error("Error authenticating to Torizon Service or loading ssh keys.", ex);
        }
    }

    async Task OnClick(SshKey key)
    {
        using var context = DbContextFactory.CreateDbContext();

        selectedKey = key;

        if (selectedKey != null)
        {
            _log.Info($"User {LoginService.UserId} started selecting user '{selectedKey.Name}' for device '{selectedDevice?.DeviceName}'.");

            var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["WantContinue"],
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = @localizer["Continue"],
                ConfirmButtonColor = "#0B5120",
                CancelButtonText = @localizer["Cancel"],
                CancelButtonColor = "#dc3545"
            });

            if (result.IsConfirmed)
            {
                _log.Info($"User {LoginService.UserId} confirmed selection of user '{selectedKey.Name}' for device '{selectedDevice?.DeviceName}'.");

                var userAct = new UserActivity
                {
                    UserId = LoginService.UserId,
                    ActMessage = $"Selected user: Name: {selectedKey.Name} for device {selectedDevice?.DeviceName}",
                    ActType = "Maintenance",
                    ActTimeStamp = DateTime.Now
                };

                context.UserActivities.Add(userAct);
                await context.SaveChangesAsync();

                _log.Info($"User activity successfully saved for user {LoginService.UserId}.");

                await OnNextModal.InvokeAsync(key);
            }
            else
            {
                _log.Info($"User {LoginService.UserId} canceled the selection of user '{selectedKey.Name}'.");
            }
        }
        else
        {
            _log.Warn($"User {LoginService.UserId} attempted to proceed without selecting a valid user.");

            ToastService.ShowWarning(@localizer["SelectUser"]);
        }
    }

    void UpdatePage()
    {
        InvokeAsync(StateHasChanged);
    }
}