@page "/managePatterns/add"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle> @localizer["AddPatern"]</PageTitle>

<div class="custom-container">
    <div class="page-title d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi bi-card-list icon-align fs-3" style="padding-left: 10px;"></i>
            <h3 class="ms-2 mb-0"> @localizer["AddPattern"]</h3>
        </div>

        <div class="d-flex gap-3">
            <button class="btn btn-outline-light border border-white border-2"
                    style="width: 100px;"
                    @onclick="Cancel">
                <i class="bi bi-arrow-left fs-5"></i>
            </button>
            <button class="btn btn-outline-light border border-white border-2 fs-5"
                    style="width: 150px;"
                    @onclick="SavePattern">
                <i class="bi bi-floppy"></i>  @localizer["Save"]
            </button>
        </div>
    </div>

    <div class="edit-form mt-4">
        <div class="d-flex align-items-center gap-3">
            <label for="text" class="mb-0" style="font-size: 1.5rem; flex-shrink: 0;">
                @localizer["Name"]
                <span style="font-size: 15px;"> (máx. 50 caracteres)</span> :
            </label>
            <input type="text" @bind="pattern"
                   class="form-control"
                   style="font-size: 1.2rem; border: 1px solid grey;"
                   maxlength="50"/>
        </div>
    </div>
</div>

@code {
    // Variáveis: Integer
    const int PatternLength = 50;

    // Variáveis: String
    public string pattern = string.Empty;

    // Variáveis: Object
    static readonly ILog _log = LogManager.GetLogger(typeof(AddPattern));

    async Task SavePattern()
    {
        try
        {
            if (!ValidadePattern())
                return;

            using var context = DbContextFactory.CreateDbContext();

            if (await PatternExistsAsync(context))
            {
                ShowPatternExistsAlert();
                return;
            }

            await AddPatternAsync(context);
            
            ToastService.ShowSuccess(@localizer["AddedSuccess"]);

            NavigationManager.NavigateTo("/managePatterns");
        } 
        catch (Exception ex)
        {
            _log.Error("Error saving pattern. ", ex);

            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }   
    }

    public bool ValidadePattern()
    {
        if (string.IsNullOrWhiteSpace(pattern))
        {
            ToastService.ShowWarning(@localizer["ValidName"]);
            return false;
        }

        if (pattern.Length > PatternLength)
        {
            ToastService.ShowWarning($"{@localizer["LongName"]}. {@localizer["Max50"]}");
            return false;
        }

        return true;
    }

    async Task<bool> PatternExistsAsync(AppDbContext context)
    {
        return await context.Patterns.AnyAsync(p => p.NameContains.ToLower() == pattern.Trim().ToLower());
    }

    void ShowPatternExistsAlert()
    {
        ToastService.ShowWarning(@localizer["AlreadyExists"]);
        return;
    }

    async Task AddPatternAsync(AppDbContext context)
    {
        var newPattern = new Pattern
        {
            NameContains = pattern,
            Enabled = true
        };

        context.Patterns.Add(newPattern);
        await context.SaveChangesAsync();
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/managePatterns");
    }
}