@page "/managePatterns/add"

@using log4net
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resource> localizer

<PageTitle> @localizer["AddPatern"]</PageTitle>

<div class="custom-container">
    <div class="page-title d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi bi-card-list icon-align fs-3" style="padding-left: 10px;"></i>
            <h3 class="ms-2 mb-0"> @localizer["AddPatern"]</h3>
        </div>

        <div class="d-flex gap-3">
            <button class="btn btn-outline-light border border-white border-2"
                    style="width: 100px;"
                    @onclick="Cancel">
                <i class="bi bi-arrow-left fs-5"></i>
            </button>
            <button class="btn btn-outline-light border border-white border-2 fs-5"
                    style="width: 150px;"
                    @onclick="SavePattern">
                <i class="bi bi-floppy"></i>  @localizer["Save"]
            </button>
        </div>
    </div>

    <div class="edit-form mt-4">
        <div class="d-flex align-items-center gap-3">
            <label for="text" class="mb-0" style="font-size: 1.5rem; flex-shrink: 0;">
                @localizer["Name"]
                <span style="font-size: 15px;"> (máx. 50 caracteres)</span> :
            </label>
            <input type="text" @bind="pattern"
                   class="form-control"
                   style="font-size: 1.2rem;" 
                   maxlength="50"/>
        </div>
    </div>
</div>

@code {
    // String Variables
    private string pattern = string.Empty;

    // Object Variables
    private static readonly ILog log = LogManager.GetLogger(typeof(AddPattern));

    private async Task SavePattern()
    {
        try
        {
            if (!ValidadePattern())
                return;

            using var context = DbContextFactory.CreateDbContext();

            if (await PatternExistsAsync(context))
            {
                await ShowPatternExistsAlert();
                return;
            }

            await AddPatternAsync(context);
            await ShowSuccessAlert();
            NavigationManager.NavigateTo("/managePatterns");
        } 
        catch (Exception ex)
        {
            log.Error("Error saving pattern. ", ex);
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["Error"],
                Text =  @localizer["TryAgain"],
                Icon = SweetAlertIcon.Error,
                ConfirmButtonColor = "#0B5120"
            });
            return;
        }   
    }

    private bool ValidadePattern()
    {
        if (string.IsNullOrWhiteSpace(pattern))
        {
            _ = Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["ValidName"],
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonColor = "#0B5120"
            });
            return false;
        }

        if (pattern.Length > 50)
        {
            _ = Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["LongName"],
                Text = @localizer["Max30"],
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonColor = "#0B5120"
            });
            return false;
        }

        return true;
    }

    private async Task<bool> PatternExistsAsync(AppDbContext context)
    {
        return await context.Patterns.AnyAsync(p => p.NameContains.ToLower() == pattern.Trim().ToLower());
    }

    private async Task ShowPatternExistsAlert()
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = @localizer["AlreadyExists"],
            Icon = SweetAlertIcon.Warning,
            ConfirmButtonColor = "#0B5120"
        });
        return;
    }

    private async Task AddPatternAsync(AppDbContext context)
    {
        var newPattern = new Pattern
        {
            NameContains = pattern,
            Enabled = true
        };

        context.Patterns.Add(newPattern);
        await context.SaveChangesAsync();
    }

    private async Task ShowSuccessAlert()
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = @localizer["AddedSuccess"],
            Icon = SweetAlertIcon.Success,
            ConfirmButtonColor = "#0B5120"
        });
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/managePatterns");
    }
}