@page "/manageStacks"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject FilterService FilterService
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager

<PageTitle>@localizer["ManageStacks"]</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">@localizer["Loading"]...</span>
            </div>
            <p class="mt-3">@localizer["Loading"]...</p>
        </div>
    </div>
}
else
{
    <div class="custom-container">
        <div class="page-title">
            <i class="bi bi-card-list fs-3" style="padding-left: 10px;"></i>
            <h3 class="pt-2">@localizer["ManageStacks"]</h3>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="w-50 position-relative">
                <input type="text"
                       class="form-control py-2 ps-5"
                       placeholder="@localizer["SearchStack"]"
                       style="border: 1px solid grey;"
                       @bind="searchTerm"
                       @bind:event="oninput" />
                <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-color btn-lg py-2"
                        style="font-size: 1.25rem;"
                        @onclick="NavigateToAddStack">
                    <i class="bi bi-plus"></i> @localizer["New"]
                </button>
                <button class="btn btn-color btn-lg"
                        style="font-size: 1.25rem;"
                        @onclick="ApplyFilter">
                    <i class="bi bi-floppy"></i> @localizer["Apply"]
                </button>
            </div>
        </div>

        <div class="card-body pb-2 px-0 mb-0 mt-3">
            <div class="table-responsive border rounded-2">
                <QuickGrid Class="table table-striped m-0"
                           Items="@FilteredStacks.AsQueryable()"
                           ItemKey="@(ps => ps.Id)">
            
                    <!--- Coluna das opções --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="options-buttons-header">
                                @localizer["Options"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="options-buttons">
                                <div>
                                    <button class="btn btn-outline-success btn-sm py-1 px-2"
                                            title="Editar"
                                            @onclick="() => NavigateToEditStack(context.Id)"
                                            style="border-radius: 5px;">
                                        <i class="bi bi-pencil-square" style="font-size: 1.1rem"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger btn-sm py-1 px-2"
                                            title="Desativar"
                                            @onclick="() => DisableStack(context.Id)"
                                            style="border-radius: 5px;">
                                        <i class="bi bi-trash-fill" style="font-size: 1.1rem"></i>
                                    </button>
                                </div>
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna dos nomes das Stacks --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left" style="cursor: pointer" onclick="@(() => SortByColumn("Name"))">
                                @localizer["Name"]
                                <span style="font-size: 1rem; margin-left: 5px; color: @(currentSortColumn == "Name" ? "white" : "rgba(255, 255, 255, 0.5)");">
                                    @(currentSortColumn == "Name" ? (isNameAscending ? "▲" : "▼") : "▲")
                                </span>
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left">
                                @context.Name
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna dos produtos associados --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left">
                                @localizer["LinkedProducts"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left">
                                @if(context.ProductStacks?.Any() == true)
                                {
                                    <span style="font-size: 1rem;">
                                        @string.Join(", ", context.ProductStacks.Where(ps => ps.Product != null).Select(ps => ps.Product!.Name!.Trim()))
                                    </span>
                                } 
                                else
                                {
                                    <span class="text-muted" style="font-size: 1rem;">
                                        @localizer["WithoutProducts"]
                                    </span>
                                }
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna do estado (Ativo ou não) --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-center">
                                @localizer["Active"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-center">
                                <input type="checkbox" class="largerCheckbox d-block mx-auto my-auto"
                                       id="toggle-@context.Id"
                                       @onchange="(e => ToggleStack(e, context))"
                                       checked="@selectedStacks.Any(s => s.Id == context.Id)"
                                       style="border-radius: 5px;"/>
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                </QuickGrid>

                @if (!FilteredStacks.Any())
                {
                    <table class="table table-striped m-0">
                        <tbody>
                            <tr>
                                <td colspan="10" class="text-center text-muted" style="padding: 1rem;">
                                    @localizer["NoData"]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>

            <div class="d-flex justify-content-end mt-3 px-3">
                <p>@FilteredStacks.Count() Stack&#40s&#41</p>
            </div>
        </div>
    </div>
}

@code {
    // Variáveis: Object
    List<Stack> stacks = new();
    List<Stack> selectedStacks = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(ManageStacks));

    IEnumerable<Stack> FilteredStacks
    {
        get
        {
            var filtered = string.IsNullOrWhiteSpace(searchTerm)
                ? stacks
                : stacks.Where(s => s.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

            if (currentSortColumn == "Name")
            {
                filtered = isNameAscending
                    ? filtered.OrderBy(d => d.Name)
                    : filtered.OrderByDescending(d => d.Name);
            }

            return filtered;
        }
    }

    // Variáveis: String
    string currentSortColumn = "Name";

    string _searchTerm = string.Empty;
    string searchTerm
    {
        get => _searchTerm;
        set
        {
            if (_searchTerm != value)
            {
                _searchTerm = value;
            }
        }
    }

    // Variáveis: Boolean
    bool isLoading = true;
    bool isNameAscending = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FilterService.LoadFilterAsync();

            using var context = DbContextFactory.CreateDbContext();

            var filteredProductsIds = FilterService.SelectedProducts.Select(p => p.Id).ToHashSet();

            stacks = await context.Stacks
                .Where(s => s.Enabled)
                .Include(s => s.ProductStacks)
                .ThenInclude(p => p.Product)
                .OrderBy(s => s.Name)
                .ToListAsync();

            foreach (var stack in stacks)
            {
                stack.ProductStacks = stack.ProductStacks
                    .Where(ps => ps.Product != null && filteredProductsIds.Contains(ps.Product.Id))
                    .ToList();
            }

            selectedStacks = FilterService.SelectedStacks;

            UpdatePage();

            _log.Info("Stacks loaded successfully.");
            isLoading = false;
        }
        catch (Exception ex)
        {
            _log.Error("Error loading stacks. ", ex);
            
            ToastService.ShowError($"{@localizer["ErrorLoading"]}. {@localizer["TryAgain"]}");
        }
    }

    void ToggleStack(ChangeEventArgs e, Stack stack)
    {
        var isChecked = e.Value is bool b && b;

        if (isChecked)
        {
            if (!selectedStacks.Any(s => s.Id == stack.Id))
                selectedStacks.Add(stack);
        }
        else
        {
            selectedStacks.RemoveAll(s => s.Id == stack.Id);
        }
    }

    void NavigateToAddStack()
    {
        NavigationManager.NavigateTo("/manageStacks/add");
    }

    void NavigateToEditStack(int id)
    {
        NavigationManager.NavigateTo($"/manageStacks/edit/{id}");
    }

    async Task ApplyFilter()
    {
        try
        {
            if (selectedStacks.Count == 0)
            {
                ToastService.ShowWarning(@localizer["PleaseSelectStack"]);
                return;
            }
            else
            {
                await FilterService.ApplyStacksFilter(new List<Stack>(selectedStacks));

                ToastService.ShowSuccess(@localizer["FiltersApplied"]);
            }
        }
        catch (Exception ex)
        {
            _log.Error("Error applying filter. ", ex);
            
            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }
    }

    async Task DisableStack(int id)
    {
        try
        {
            var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["WantContinue"],
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = @localizer["Continue"],
                ConfirmButtonColor = "#0B5120",
                CancelButtonText = @localizer["Cancel"],
                CancelButtonColor = "#dc3545"
            });

            if (result.IsConfirmed)
            {
                isLoading = true;

                using var context = DbContextFactory.CreateDbContext();
                var stackDb = await context.Stacks.FirstOrDefaultAsync(s => s.Id == id);

                if (stackDb != null)
                {
                    stackDb.Enabled = false;
                    await context.SaveChangesAsync();
                }

                stacks.RemoveAll(s => s.Id == id);

                ToastService.ShowSuccess(@localizer["StackDisableSuccess"]);

                isLoading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            _log.Error("Error disabling stack. ", ex);
            
            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }
    }

    void SortByColumn(string columnName)
    {
        if (currentSortColumn == columnName)
        {
            isNameAscending = !isNameAscending;
        }
        else
        {
            currentSortColumn = columnName;
            isNameAscending = true;
        }
    }

    void UpdatePage()
    {
        InvokeAsync(StateHasChanged);
    }
}