@page "/updateVersion/{deviceUuid}"

@rendermode InteractiveServer
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject TorizonService TorizonService
@inject LoginService LoginService
@inject FilterService FilterService
@inject NavigationManager UriHelper
@inject SweetAlertService Swal

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<PageTitle>@localizer["UpdateVersion"]</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">@localizer["Loading"]...</span>
            </div>
            <p class="mt-3">@localizer["Loading"]...</p>
        </div>
    </div>
}
else
{
    <div class="custom-container d-flex flex-column">
        <a href="#"
           onclick="if (@(isLoading.ToString().ToLower())) { event.preventDefault(); } else { history.back(); }"
           class="text-black"
           style="max-width: 5vh; cursor: @(isLoading ? "default" : "pointer");">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>

        <h3 class="text-center pb-5">@localizer["UpdateVersion"]</h3>

        <div class="card-body pb-2 px-0 mt-2">
            <div class="border rounded-2">
                <QuickGrid Class="table table-striped m-0"
                           Items="filteredPackages.AsQueryable()"
                           ItemKey="@(fp => fp.StackId + fp.PackageId)">

                    <!--- Coluna dos nomes dos pacotes --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left">
                                @localizer["Name"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left" style="cursor: pointer;" @onclick="() => SelectRow(context.Package!)">
                                @context.Package?.Name
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna das versões --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left">
                                @localizer["Version"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left" style="cursor: pointer;" @onclick ="() => SelectRow(context.Package!)">
                                @context.Package?.Version
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                </QuickGrid>

                @if (!filteredPackages.Any())
                {
                    <table class="table table-striped m-0">
                        <tbody>
                            <tr>
                                <td colspan="10" class="text-center text-muted" style="padding: 1rem;">
                                    @localizer["NoData"]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
}

@code {
    // Variáveis: Parameters
    [Parameter]
    public string? deviceUuid { get; set; }

    // Variáveis: Object
    DetailedDevice? selectedDevice = new();
    List<StackPackage> filteredPackages = new();
    List<StackPackage> stacksPackages = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(UpdateVersion));

    // Variáveis: String
    string? devicePackage;
    string? selectedVersion;
    string? installedPackageName;

    // Variáveis: Boolean
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (await TorizonService.AuthenticateAsync())
            {
                var detailUrl = $"https://app.torizon.io/api/v2beta/devices/{deviceUuid}";
                selectedDevice = await TorizonService.GetItemAsync<DetailedDevice>(detailUrl);

                if (selectedDevice == null)
                {
                    Console.WriteLine("Dispositivo não encontrado.");
                    isLoading = false;
                    return;
                }

                if (selectedDevice.Packages?.Count > 1)
                {
                    var fullName = selectedDevice.Packages?
                                    .FirstOrDefault(p => p.Component == "docker-compose")?
                                    .Installed.PackageId;

                    var lastDashIndex = fullName!.LastIndexOf('-');
                    if (lastDashIndex > 0 && lastDashIndex < fullName.Length - 1)
                    {
                        installedPackageName = fullName.Substring(0, lastDashIndex);
                        selectedVersion = fullName.Substring(lastDashIndex + 1);
                    }
                    else
                    {
                        installedPackageName = fullName;
                        selectedVersion = "unknown";
                    }
                }

                using var context = await DbContextFactory.CreateDbContextAsync();
                stacksPackages = await context.StackPackages
                    .Include(pp => pp.Package)
                    .ToListAsync();

                filteredPackages = stacksPackages
                    .Where(sp => sp?.Package?.Name != null &&
                                 sp.Package.Name.Contains(installedPackageName!, StringComparison.OrdinalIgnoreCase))
                    .GroupBy(sp => new { sp.Package?.Name, sp.Package?.Version })
                    .Select(g => g.First())
                    .OrderByDescending(sp => sp.Package?.Version)
                    .ToList();

                await FilterService.LoadFilterAsync();

                isLoading = false;
            }

            _log.Info("Update Version page loaded successfully.");
        }
        catch (Exception ex)
        {
            _log.Error("Error loading Update Version page.", ex);
        }
    }

    async Task SelectRow(Package package)
    {
        try
        {
            using var context = DbContextFactory.CreateDbContext();

            if (selectedVersion != null)
            {
                var result = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Deseja continuar?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = @localizer["Continue"],
                    ConfirmButtonColor = "#0B5120",
                    CancelButtonText = @localizer["Cancel"],
                    CancelButtonColor = "#dc3545"
                });

                if (result.IsConfirmed)
                {
                    var userAct = new UserActivity
                    {
                        UserId = LoginService.UserId,
                        ActMessage = $"Selecionou a versão: {selectedVersion} para a placa {selectedDevice?.DeviceName}",
                        ActType = "Manutenção",
                        ActTimeStamp = DateTime.Now
                    };

                    var packageUri = await context.Packages.FirstOrDefaultAsync(p => p.Id == package.Id);

                    var deviceDto = new DeviceDTO
                    {
                        PackageIds = new List<string> { package.Id },
                        Devices = new List<string> { deviceUuid!.ToString() },
                    };

                    var response = await TorizonService.SendUpdateAsync(deviceDto);

                    if (response.IsSuccessStatusCode)
                    {
                        context.UserActivities.Add(userAct);
                        await context.SaveChangesAsync();

                        _log.Info($"Device '{selectedDevice?.DeviceName}' updated to version '{selectedVersion}' successfully.");

                        ToastService.ShowSuccess(@localizer["VersionSuccess"]);

                        UriHelper.NavigateTo("/home");
                    }
                    else
                    {
                        ToastService.ShowError(@localizer["VersionError"]);

                        var errorContent = await response.Content.ReadAsStringAsync();

                        _log.Error($"Failed to update device '{selectedDevice?.DeviceName}'. StatusCode: {response.StatusCode}, Error: {errorContent}");
                    }
                }
            }
            else
            {
                _log.Warn("No software version selected before attempting update.");

                ToastService.ShowWarning(@localizer["NoPackageSelected"]);
            }
        }
        catch(Exception ex)
        {
            _log.Error("Error occurred while updating device version.", ex);
        }
    }
}