@page "/selectStack/{deviceId:int}/{productId:int}"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject NavigationManager UriHelper
@inject LoginService LoginService

<PageTitle>@localizer["SelectStack"]</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">@localizer["Loading"]...</span>
            </div>
            <p class="mt-3">@localizer["Loading"]...</p>
        </div>
    </div>
}
else
{
    <div class="custom-container d-flex flex-column">
        <a href="#"
           onclick="if (@(isLoading.ToString().ToLower())) { event.preventDefault(); } else { history.back(); }"
           class="text-black"
           style="max-width: 5vh; cursor: @(isLoading ? "default" : "pointer");">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>

        <h3 class="text-center pb-5">@localizer["SelectStack"]</h3>

        <div class="grid-container">
            @foreach (var stack in paginatedStacks)
            {
                <div class="grid-item" style="cursor: pointer;" @onclick="() => SelectStackName(stack)">
                    @stack.Name
                </div>
            }
        </div>

        <div class="sticky-footer-right">
            <div class="d-flex justify-content-end">
                <div class="d-flex align-items-center gap-3">
                    <button class="custom-outline-button btn-lg"
                            @onclick="PrevPage" disabled="@(!CanGoPrev)">
                        &lt;
                    </button>

                    <span>@actualPage - @TotalPages de @TotalPages</span>

                    <button class="custom-outline-button btn-lg"
                            @onclick="NextPage" disabled="@(!CanGoNext)">
                        &gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    // Variáveis: Parameters
    [Parameter]
    public int deviceId { get; set; }

    [Parameter]
    public int productId { get; set; }

    // Variáveis: Object
    Device? selectedDevice = new();
    Product? selectedProduct = new();
    Stack? selectedStack = new();
    List<Stack> stacks = new();
    List<Stack> paginatedStacks = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(SelectStack));

    // Variáveis: Integer
    int actualPage = 1;
    int stacksPerPage = 8;
    int TotalPages => (int)Math.Ceiling((double)stacks.Count / stacksPerPage);

    // Variáveis: Boolean
    bool isLoading = false;
    bool CanGoNext => actualPage < TotalPages;
    bool CanGoPrev => actualPage > 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var context = DbContextFactory.CreateDbContext();
            selectedDevice = await context.Devices.FirstOrDefaultAsync(d => d.Id == deviceId);
            selectedProduct = await context.Products.FirstOrDefaultAsync(p => p.Id == productId);

            stacks = await context.ProductStacks
                .Where(dp => dp.ProductId == productId)
                .Select(dp => dp.Stack!)
                .Where(p => p.Enabled)
                .Distinct()
                .ToListAsync();

            UpdatePage();
            isLoading = false;

            _log.Info("Select stack page loaded successfully.");
        }
        catch(Exception ex)
        {
            _log.Error("Error loading Select stack page.", ex);
        }  
    }

    async Task SelectStackName(Stack stack)
    {
        using var context = DbContextFactory.CreateDbContext();

        bool hasPackages = await context.StackPackages.AnyAsync(sp => sp.StackId == stack.Id);
        if (!hasPackages)
        {
            ToastService.ShowWarning(@localizer["StacksPackages"]);
            return;
        }

        selectedStack = stack;
        await OnClick();
    }

    async Task OnClick()
    {
        try
        {
            if (selectedStack != null)
            {
                using var context = DbContextFactory.CreateDbContext();
                var userAct = new UserActivity
                {
                    UserId = LoginService.UserId,
                    ActMessage = $"Selecionou a Stack: Nome: {selectedStack.Name}",
                    ActType = "Wizard",
                    ActTimeStamp = DateTime.Now
                };

                context.UserActivities.Add(userAct);
                await context.SaveChangesAsync();

                _log.Info($"Stack '{selectedStack.Name}' selected.");

                UriHelper.NavigateTo($"/packages/{deviceId}/{productId}/{selectedStack.Id}");
            }
        }
        catch(Exception ex)
        {
            _log.Error("Error selecting stack.", ex);
        }
    }

    void UpdatePage()
    {
        paginatedStacks = stacks
                              .Skip((actualPage - 1) * stacksPerPage)
                              .Take(stacksPerPage)
                              .ToList();
    }

    void NextPage()
    {
        if (CanGoNext)
        {
            actualPage++;
            UpdatePage();
        }
    }

    void PrevPage()
    {
        if (CanGoPrev)
        {
            actualPage--;
            UpdatePage();
        }
    }
}