@page "/manageEntities"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IStringLocalizer<Resource> localizer
@inject IToastService ToastService
@inject FilterService FilterService
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager

<PageTitle>@localizer["ManageEntity"]</PageTitle>

@if (isLoading)
{
    <div class="center">
        <div class="text-center mt-5">
            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">@localizer["Loading"]...</span>
            </div>
            <p class="mt-3">@localizer["Loading"]...</p>
        </div>
    </div>
}
else
{
    <div class="custom-container">
        <div class="page-title">
            <i class="bi bi-card-list fs-3" style="padding-left: 10px;"></i>
            <h3 class="pt-2">@localizer["ManageEntity"]</h3>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="w-50 position-relative">
                <input type="text"
                       class="form-control py-2 ps-5"
                       placeholder="@localizer["SearchEntity"]"
                       style="border: 1px solid grey;"
                       @bind="searchTerm"
                       @bind:event="oninput" />
                <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-color btn-lg py-2"
                        style="font-size: 1.25rem;"
                        @onclick="NavigateToAddEntity">
                    <i class="bi bi-plus"></i> @localizer["New"]
                </button>
                <button class="btn btn-color btn-lg"
                        style="font-size: 1.25rem;"
                        @onclick="ApplyFilter">
                    <i class="bi bi-floppy"></i> @localizer["Apply"]
                </button>
            </div>
        </div>

        <div class="card-body pb-2 px-0 mt-2">
            <div class="table-responsive border rounded-2">
                <QuickGrid Class="table table-striped m-0"
                           Items="@FilteredEntities.AsQueryable()"
                           ItemKey="@(pe => pe.Id)">

                    <!--- Coluna das opções --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="options-buttons-header">
                                @localizer["Options"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="options-buttons">
                                <div>
                                    <button class="btn btn-outline-success btn-sm py-1 px-2"
                                            title="Editar"
                                            @onclick="() => NavigateToEditEntity(context.Id)"
                                            style="border-radius: 5px;">
                                        <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger btn-sm py-1 px-2"
                                            title="Desativar"
                                            @onclick="() => DisableEntity(context.Id)"
                                            style="border-radius: 5px;">
                                        <i class="bi bi-trash-fill" style="font-size: 1.1rem;"></i>
                                    </button>
                                </div>
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna dos nomes das entidades --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left" style="cursor: pointer" onclick="@(() => SortByColumn("Name"))">
                                @localizer["Name"]
                                <span style="font-size: 1rem; margin-left: 5px;
                                                                     color: @(currentSortColumn == "Name" ? "white" : "rgba(255,255,255,0.5)")">
                                    @(currentSortColumn == "Name" ? (isNameAscending ? "▲" : "▼") : "▲")
                                </span>
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left">
                                <span style="font-size: 1rem;">
                                    @context.Name
                                </span>
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna das frotas associadas --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-left">
                                @localizer["LinkedFleets"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left">
                                @if (context.EntityFleets?.Any() == true)
                                {
                                    <span style="font-size: 1rem;">
                                        @string.Join(", ", context.EntityFleets
                                                                        .Where(ef => ef.Fleet != null)
                                                                        .Select(ef => ef.Fleet!.Name.Trim()))
                                    </span>
                                }
                                else
                                {
                                    <span class="text-muted" style="font-size: 1rem;">
                                        @localizer["WithoutFleets"]
                                    </span>
                                }
                            </div>
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna das observações de uma entidade --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-center">
                                @localizer["Observations"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            @if (string.IsNullOrEmpty(context.Observation))
                            {
                                <div class="body-table-center">
                                    <span style="font-size: 1rem;">
                                        -
                                    </span>
                                </div>
                            } 
                            else
                            {
                                <div class="body-table-left">
                                    <span style="font-size: 1rem;">
                                        @context.Observation
                                    </span>
                                </div>
                            }
                        </ChildContent>
                    </TemplateColumn>

                    <!--- Coluna do estado (Ativo ou não) --->
                    <TemplateColumn>
                        <HeaderTemplate>
                            <div class="header-table-center">
                                @localizer["Active"]
                            </div>
                        </HeaderTemplate>
                        <ChildContent>
                            <div class="body-table-left">
                                <input type="checkbox" class="largerCheckbox d-block mx-auto my-auto"
                                       id="toggle-@context.Id"
                                       @onchange="(e => ToggleEntity(e, context))"
                                       checked="@selectedEntities.Any(e => e.Id == context.Id)"
                                       style="border-radius: 5px;" />
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                </QuickGrid>

                @if (!FilteredEntities.Any())
                {
                    <table class="table table-striped m-0">
                        <tbody>
                            <tr>
                                <td colspan="10" class="text-center text-muted" style="padding: 1rem;">
                                    @localizer["NoData"]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>

            <div class="d-flex justify-content-end mt-3 px-3">
                <p>
                    @(FilteredEntities.Count())
                    @(FilteredEntities.Count() > 1
                                    ? localizer["Entities"]
                                    : localizer["Entity"])
                </p>
            </div>
        </div>
    </div>
}

@code {
    // Variáveis: Object
    List<Entity> entities = new();
    List<Entity> selectedEntities = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(ManageEntities));

    IEnumerable<Entity> FilteredEntities
    {
        get
        {
            var filtered = string.IsNullOrWhiteSpace(searchTerm)
                ? entities
                : entities.Where(e => e.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

            if (currentSortColumn == "Name")
            {
                filtered = isNameAscending
                    ? filtered.OrderBy(e => e.Name)
                    : filtered.OrderByDescending(e => e.Name);
            }

            return filtered;
        }
    }

    // Variáveis: String
    string currentSortColumn = "Name";

    string _searchTerm = string.Empty;
    string searchTerm
    {
        get => _searchTerm;
        set
        {
            if (_searchTerm != value)
            {
                _searchTerm = value;
            }
        }
    }

    // Variáveis: Boolean
    bool isLoading = true;
    bool isNameAscending = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FilterService.LoadFilterAsync();

            using var context = DbContextFactory.CreateDbContext();

            var filteredFleetsIds = FilterService.SelectedFleets.Select(f => f.Id).ToHashSet();

            entities = await context.Entities
                .Where(e => e.Enabled)
                .Include(e => e.EntityFleets)
                .ThenInclude(f => f.Fleet)
                .OrderBy(e => e.Name)
                .ToListAsync();

            foreach (var entity in entities)
            {
                entity.EntityFleets = entity.EntityFleets
                    .Where(ef => ef.Fleet != null)
                    .ToList();

                foreach (var ef in entity.EntityFleets)
                {
                    _log.Info($"Fleet: {ef.Fleet?.Name} - Id: {ef.Fleet?.Id}");
                }
            }

            selectedEntities = FilterService.SelectedEntities;

            UpdatePage();

            _log.Info("Entities loaded successfully.");
            isLoading = false;
        } 
        catch (Exception ex)
        {
            _log.Error("Error loading entities. ", ex);

            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["ErrorLoading"]}");
        }
    }

    void ToggleEntity(ChangeEventArgs e, Entity entity)
    {
        var isChecked = e.Value is bool b && b;

        if (isChecked)
        {
            if (!selectedEntities.Any(e => e.Id == entity.Id))
                selectedEntities.Add(entity);
        }
        else
        {
            selectedEntities.RemoveAll(e => e.Id == entity.Id);
        }
    }

    void NavigateToAddEntity()
    {
        NavigationManager.NavigateTo("/manageEntities/add");
    }

    void NavigateToEditEntity(int id)
    {
        NavigationManager.NavigateTo($"/manageEntities/edit/{id}");
    }

    async Task ApplyFilter()
    {
        try
        {
            if (selectedEntities.Count == 0)
            {
                ToastService.ShowWarning(@localizer["PleaseSelectEntity"]);
                return;
            }
            else
            {
                await FilterService.ApplyEntitiesFilter(new List<Entity>(selectedEntities));

                ToastService.ShowSuccess(@localizer["FilterApplied"]);
            }
        }
        catch (Exception ex)
        {
            _log.Error("Error applying filter. ", ex);
            
            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }
    }

    async Task DisableEntity(int id)
    {
        try
        {
            var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = @localizer["WantContinue"],
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = @localizer["Continue"],
                ConfirmButtonColor = "#0B5120",
                CancelButtonText = @localizer["Cancel"],
                CancelButtonColor = "#dc3545"
            });

            if (result.IsConfirmed)
            {
                isLoading = true;

                using var context = DbContextFactory.CreateDbContext();
                var entityDb = await context.Entities.FirstOrDefaultAsync(e => e.Id == id);

                if (entityDb != null)
                {
                    entityDb.Enabled = false;

                    var relations = await context.EntityFleets
                        .Where(ef => ef.EntityId == id)
                        .ToListAsync();

                    context.EntityFleets.RemoveRange(relations);

                    await context.SaveChangesAsync();
                }

                entities.RemoveAll(e => e.Id == id);

                FilterService.SelectedEntities.RemoveAll(e => e.Id == id);
                await FilterService.SaveFilterAsync();

                ToastService.ShowSuccess(@localizer["EntityDisableSuccess"]);

                UpdatePage();

                isLoading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            _log.Error("Error disabling entity. ", ex);

            ToastService.ShowError($"{@localizer["Error"]}. {@localizer["TryAgain"]}");
            return;
        }
    }

    void SortByColumn(string columnName)
    {
        if (currentSortColumn == columnName)
        {
            isNameAscending = !isNameAscending;
        }
        else
        {
            currentSortColumn = columnName;
            isNameAscending = true;
        }
    }

    void UpdatePage()
    {
        InvokeAsync(StateHasChanged);
    }
}